.gradle/
build/
/libs/*.aar
!/libs/.gitkeep
/src/main/java/ai/mxlabs/shenai/ce/androidjava/minimal/CeConfig.java
local.properties
captures/
.cxx/
.externalNativeBuild/
.idea/
*.jks
*.keystore
*.p12
.DS_Store
